<ion-header>
    <ion-toolbar>
      <ion-title>New Article</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input [(ngModel)]="article.title" name="title" type="title"></ion-input>
      <div *ngIf="errors.title"> {{ errors.title }} </div>
    </ion-item>
  
    <ion-item>
      <ion-label>slug</ion-label>
      <ion-input [(ngModel)]="article.slug" name="slug" type="text"></ion-input>
      <div *ngIf="errors.slug"> {{ errors.slug }} </div>
    </ion-item>
  
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input [(ngModel)]="article.description" name="description" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Keywords</ion-label>
      <ion-input [(ngModel)]="article.keywords" name="keywords" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Body</ion-label>
      <ion-input [(ngModel)]="article.body" name="body" type="text"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="full" (click)="onSubmit()">Submit</ion-button>
  </ion-content>
